main{
    width: 100%;
}
main> .hero{
    width: 95%;
    margin: auto;
    display: flex;
    padding: 40px 0;
}

/* Screen Mobile App */
main > .hero >.title{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex; 
}
main > .hero >.title > .text-content > h1{
    font-size: clamp(100px,4vw,140px);
    font-family: "outfit ",sans-serif;
    color: white;
    text-shadow: 
    -1px -1px 2px black,
    -1px -1px 2px black,
    -1px -2px 2px black,
    -1px -1px 2px black;
    line-height:85px;

}
main > .hero >.title > .text-content > h1> span {
   color: black;
   text-shadow:none ;
}
main > .hero > .title > .text-content  >p{
    font-size: 20px;
    color: grey;
    padding-top: 25px;
    line-height: 34px;
}
main > .hero >.title > .text-content > .skills{
    display: flex;
    list-style: circle;
    flex-wrap:wrap;
    margin-top: 15px;
}
main > .hero >.title > .text-content >.skills> li{
    margin: 10px 24px;
    font-size: 25px;
    font-weight: bold;
    color: grey;
}
main > .hero > .title > .text-content  > .socail-madia{
    display: flex;
    margin-top: 20px;
}
main > .hero > .title > .text-content  > .socail-madia > a >button{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 0;
    color: white;
    background-color:rgb(108, 84, 105);
    font-size: 20px;
    transition: 0.2s ease-in-out;
    margin-right: 20px;
} 
main > .hero > .title > .text-content  > .socail-madia > a > button:hover{
   background-color: transparent;
   border: 2px solid rgb(71, 70, 70);
   color: rgb(71, 70, 70);
}

main > .hero >.image{
    display: none;
}
main > .hero >.image > .profile{
    width: 100%;
    height:500px;
    margin: auto;
    box-shadow: 10px 10px solid black;
    border: 5px solid rgb(220, 185, 208);
    padding: 15px;
    border-radius: 100px 0;
}
main > .hero >.image > .profile > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px 0;
}

main >.ab-me{
    width: 95%;
    padding: 40px 0;
    margin: auto;  
    flex-wrap: wrap;
}
main> .ab-me > .image1{
    width: 100%;
    height: 300px;
}
main> .ab-me > .image1 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main>.ab-me > .text{
   width: 100%;
    padding-top:20px;
}
main>.ab-me > .text > h3{
    color: grey;
}
main>.ab-me > .text >h1{
    padding: 15px 0;
}
main>.ab-me > .text > p{
   color: gray;
}
main > .ab-me > .text > button{
    background-color: var(--main-color--300);
    padding: 15px 20px;
    border-radius: 5px;
    margin: 10px;

}
main  >.ab-me > .text > button:hover{
    background-color: transparent;
    cursor: pointer;
}
main > .mydata{
    width: 95%;
    margin: auto;
    margin: 55px 0;
}
main > .mydata > .projectcount{
    width: 100%;
    text-align: center;
    padding: 16px 0px;
}
main > .mydata > .projectcount > h1{
    font-size: 40px;
}
main > .mydata > .projectcount > p{
    color: grey;
}
main > .service{
    width: 95%;
    margin: 10px auto;
   
}
main >.service >h3{
    color: grey;
    text-decoration: underline;

}
main > .service > h1{
    font-size: 50px;
    margin-top: 15px;
}
main >.service > .row{
    padding: 30px 0;  
} 
main >.service >.row > .card{
    width: 100%;
    text-align: center;
    margin: 15px 0;
    padding: 32px;
    border: 1px solid grey;

}
main >.service >.row > .card > .ct-service > h3{
    margin: 15px 0;
}
main >.service >.row > .card > .ct-service > p{
    margin: 10px 0;
    color: gray;
    font-size: 18px;
    line-height: 25px;
    overflow: hidden;
    display: -webkit-box;
     -webkit-line-clamp: 3; 
            line-clamp: 3; 
    -webkit-box-orient: vertical;
    
}
main > .service > .row >  .card > .ct-service >.image{
    display: flex;
    align-items: center;
}
main > .service > .row >  .card > .ct-service > .image > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 10px;
    object-fit: cover;
}
main > .service > .row >  .card > .ct-service >.image > .text > h2{
    font-weight: bold;
}
main > .service > .row >  .card >.ct-service>.image > .text >  p{
   color: grey;
}
main > .client{
    width: 95%;
    margin: 10px auto;
   
}
main >.client >h3{
    color: grey;
    text-decoration: underline;

}
main > .client > h1{
    font-size: 50px;
    margin-top: 15px;
}
main >.client > .row{
    padding: 20px 0;  
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;

} 
main >.client >.row > .card{
    width: 100%;
    margin: 15px 0;
    padding: 32px;
    border: 1px solid grey;

}
main >.client >.row > .card > .ct-service > p{
    margin: 10px 0;
    color: gray;
    font-size: 18px;
    line-height: 25px;
    overflow: hidden;
    display: -webkit-box;
     -webkit-line-clamp: 3; 
            line-clamp: 3; 
    -webkit-box-orient: vertical;
    
}
main > .client > .row >  .card > .ct-service >.image{
    display: flex;
    align-items: center;
}
main > .client > .row >  .card > .ct-service > .image > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 10px;
    object-fit: cover;
}
main > .client > .row >  .card > .ct-service >.image > .text > h2{
    font-weight: bold;
}
main > .client > .row >  .card >.ct-service>.image > .text >  p{
   color: grey;
}
main > .blog{
    width: 95%;
    margin: 10px auto;
}
main >.blog >h3{
    color: grey;
    text-decoration: underline;
}
main > .blog > h1{
    font-size: clamp(25px,3vw,50px);
    margin-top: 15px;
}
main >.blog > .row{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x:auto;
} 
main> .blog > .row  >*{
    flex: 0  0 auto;
}
main >.blog >.row > .card{
    width: 100%;
    margin: 15px 0;
    padding: 32px;
    border: 1px solid grey;
}
main > .blog > .row >  .card >.ct-service> p{
    margin: 10px 0;
    margin-top: 20px;
    color: grey;
    font-size: 18px;
    line-height: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-climp :3;
    -webkit-line-climp :3;
    -webkit-box-orient: vertical;
}
main > .blog > .row >  .card > .ct-service >.image{
    width: 100%;
    height: 220px;
    margin-bottom: 10px;
    background-color: grey;
}
main > .blog > .row >  .card > .ct-service > .image > img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
main > .blog > .row >  .card >.ct-service>.image > .body >  h3{
   margin: 5px 0;
}
main > .blog > .row >  .card >.ct-service>.image > .body >.lotime{
    display: flex;
    color: grey;
}
main > .blog > .row >  .card >.ct-service>.image > .body >.lotime  >i{
    margin-right: 3px;
}

main > .blog > .row >  .card > .ct-service > .body > p{
    color: gray;
    font-size: 16px;
    line-height: 25px;
}
/* Start from screen Tablet and Ipad */
@media(min-width:768px){
    main > .hero,
     main > .ab-me{
        width: 80%;
        padding-top: 70px;
        padding-right: 80px;
    } 
    main > .ab-me{
        padding-top: 0px;
        padding-right: 0px;
    }
    main > .ab-me > .image1{
        width: 100%;
        object-fit: cover;
       
    }
    main > .ab-me > .image1 > img{
        width: 100%;
        height: 100%;
    }
    main> .mydata{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: 55px auto;
    }
    main > .mydata > .projectcount{
        width: 50%;
    }
    /* Service */
    main > .service,
    main  >.client,
    main  >.blog{
        width: 80%;
        margin: 10px auto;
       
    }
    main  >.service > .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;      
    }
    main > .service > .row > .card,
     main > .client > .row > .card{
        width: 48%;
        margin: 5px;
    }
    main > .blog > .row > .card{
        width: 0;
        height: auto;
        background-color: aqua;
      }
}
/* Start from Screen Laptop */
@media(min-width:1280px){
 main >.hero,
 main > .ab-me{
    width: 75%;
    padding-right: 0px;
    padding-top: 100px;
 }
 main>.hero>.title,
 main > .hero > .image{
    width: 65%;
    height:100% ;
 } 
  main>.hero>.title{
    padding-right: 0px;
  }
 main>.hero >.image{
    width: 35%;
    display:block;
 }

/* About section */
main > .ab-me{
    padding-top: 0;
    display: flex;
}
main   >.ab-me > .image1,
main  > .ab-me>.text{
    width: 50%;
    padding-top: 150px;
}
main   >.ab-me > .image1{
    height: 700px;
}
main >.ab-me > .text{
    padding-left: 30px;
}
main >.ab-me > .text >h1{
    font-size: 48px;
}
main >.mydata{
    margin: 90px auto;
}
main >.mydata> .projectcount{
    width: 25%;
}
/* Service */
main >.service,
main  >.client,
main >.blog{
    width: 75%;
    margin: 180px auto;
}
main .service >.row >.card{
    width: 31%;
    margin: 20px 0;
}
main .client >.row >.card{
    width: 35%;
    margin: 20p 0;
}
main .blog >.row >.card{
    width: 35%;
    margin: 20px ;
}
}
@media(min-width:1400px){
    main > .hero >.title > .text-content > h1{
        font-size: 140px;
    }
    main > .hero >.title{
        padding-right: 220px;
        padding-top: 130px;
    }
}
/* steptime:  komnern ney lek
    ceil: bongkut 
    domlai: 1(up-under) 2 (left-right)
    
     overflow x:auto jg oy jenh man  auto pen ng rav man ka jaol tor scroll ban see
      */